HAPPY=nope
AWS_KEY=
AWS_KEY_ID=
SERVICE_HOST=0.0.0.0:3001
NODE_ENV=localhost 
APP_MOCKS=0 
APP_MODE_DEV=1
DB_URI=
POI_APP_API_URI=https://4uwpei20if.execute-api.us-east-1.amazonaws.com/development/api/